<div class="collapse navbar-collapse" id="main-nav">
  <ul class="navbar-nav w-auto mx-auto">
    <li class="nav-item dropdown">
      <a
        class="logo-font font-weight-bold nav-link text-black mr-5"
        href="#"
        id="all-products-link"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
      >
        All Products
      </a>
      <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
        <a href="" class="dropdown-item">By Price</a>
        <a href="" class="dropdown-item">By Rating</a>
        <a href="" class="dropdown-item">By Category</a>
        <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
      </div>
    </li>

    <li class="nav-item dropdown">
      <a
        class="logo-font font-weight-bold nav-link text-black mr-5"
        href="#"
        id="singles-link"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
      >
        Pokémon Singles
      </a>
      <div class="dropdown-menu border-0" aria-labelledby="singles-link">
        <a href="" class="dropdown-item">Pokémon Singles (English) </a>
        <a href="" class="dropdown-item">Reverse Holos (English) </a>
        <a href="" class="dropdown-item">Singles (Foreign) </a>
        <a href="" class="dropdown-item">Reverse Holos (Foreign) </a>
        <a href="" class="dropdown-item">Code Cards </a>
        <a href="" class="dropdown-item">Promotional Cards </a>
        <a href="" class="dropdown-item">Energy Cards </a>
        <a href="" class="dropdown-item">Full Art (English) </a>
        <a href="" class="dropdown-item">Jumbo Cards </a>
        <a href="" class="dropdown-item">All Pokémon Single Cards</a>
      </div>
    </li>

    <li class="nav-item dropdown">
      <a
        class="logo-font font-weight-bold nav-link text-black mr-5"
        href="#"
        id="sets-link"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
      >
        Pokémon Sets
      </a>
      <div class="dropdown-menu border-0" aria-labelledby="sets-link">
        <a href="" class="dropdown-item"
          >Scarlet And Violet Journey Together
        </a>
        <a href="{% url 'products' %}?category=sv_prismatic_evolutions" class="dropdown-item">SV Prismatic Evolutions</a>
        <a href="" class="dropdown-item">Paldean Fates </a>
        <a href="{% url 'products' %}?category=sv_stellar_crown" class="dropdown-item">Scarlet And Violet Stellar Crown </a>
        <a href="" class="dropdown-item">Shrouded Fable </a>
        <a href="" class="dropdown-item"
          >Scarlet And Violet Twilight Masquerade</a
        >
        <a href="" class="dropdown-item">Scarlet And Violet Temporal Forces </a>
        <a href="" class="dropdown-item">Scarlet And Violet Paradox Rift </a>
        <a href="" class="dropdown-item">Scarlet And Violet 151 </a>
        <a href="" class="dropdown-item">Scarlet And Violet Obsidian Flames </a>
        <a href="" class="dropdown-item">Scarlet And Violet Paldea Evolved </a>
        <a href="" class="dropdown-item">SV Scarlet and Violet (Base Set) </a>
        <a href="" class="dropdown-item">Scarlet & Violet Promo </a>
        <a href="" class="dropdown-item">TCG Classic </a>
        <a href="" class="dropdown-item">Crown Zenith </a>
        <a href="" class="dropdown-item">SWSH Silver Tempest </a>
        <a href="" class="dropdown-item">SWSH Lost Origin </a>
        <a href="" class="dropdown-item">Pokémon GO </a>
        <a href="" class="dropdown-item">SWSH Astral Radiance </a>
        <a href="" class="dropdown-item">SWSH Brilliant Stars </a>
        <a href="" class="dropdown-item">SWSH Fusion Strike </a>
        <a href="" class="dropdown-item">Celebrations </a>
        <a href="" class="dropdown-item">SWSH Evolving Skies </a>
        <a href="" class="dropdown-item">SWSH Battle Styles </a>
        <a href="" class="dropdown-item">SWSH Chilling Reign </a>
        <a href="" class="dropdown-item">SWSH Vivid Voltage </a>
        <a href="" class="dropdown-item">Battle Academy 2024 </a>
        <a href="" class="dropdown-item">SWSH Darkness Ablaze </a>
        <a href="" class="dropdown-item">SWSH Rebel Clash </a>
        <a href="" class="dropdown-item">SWSH Base Set </a>
        <a href="" class="dropdown-item">Sword & Shield Promo </a>
        <a href="" class="dropdown-item">Shining Fates </a>
        <a href="" class="dropdown-item">Champions Path </a>
        <a href="" class="dropdown-item">Hidden Fates </a>
        <a href="" class="dropdown-item">All Pokémon Sets</a>
      </div>
    </li>

    <li class="nav-item dropdown">
      <a
        class="logo-font font-weight-bold nav-link text-black mr-5"
        href="#"
        id="sealed-link"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
      >
        Pokémon Sealed Product
      </a>
      <div class="dropdown-menu border-0" aria-labelledby="sealed-link">
        <a href="{% url 'products' %}?category=pokemon_booster_pack" class="dropdown-item">Pokémon Booster Pack </a>
        <a href="{% url 'products' %}?category=pokemon_booster_box" class="dropdown-item">Pokémon Booster Box </a>
        <a href="{% url 'products' %}?category=elite_trainer_box" class="dropdown-item">Elite Trainer Boxes </a>
        <a href="{% url 'products' %}?category=collection_box_set" class="dropdown-item">Collection Box Set </a>
        <a href="{% url 'products' %}?category=deck" class="dropdown-item">Decks</a>
        <a href="{% url 'products' %}?category=tin" class="dropdown-item">Tins</a>
        <a href="{% url 'products' %}?category=blister" class="dropdown-item">Blisters </a>
        <a href="{% url 'products' %}?category=pokemon_booster_pack, pokemon_booster_box, elite_trainer_box, collection_box_set, deck, tin, blister" class="dropdown-item">All Pokémon Sealed Product</a>
      </div>
    </li>

    <li class="nav-item dropdown">
      <a
        class="logo-font font-weight-bold nav-link text-black mr-5"
        href="#"
        id="merch-link"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
      >
        Pokémon Merch
      </a>
      <div class="dropdown-menu border-0" aria-labelledby="merch-link">
        <a href="" class="dropdown-item">Plush</a>
        <a href="" class="dropdown-item">Toys
        </a>
        <a href="" class="dropdown-item">Games</a>
        <a href="" class="dropdown-item">Pin Badges
        </a>
        <a href="" class="dropdown-item">Apparel</a>
        <a href="" class="dropdown-item">Posters</a>
        <a href="" class="dropdown-item">All Pokémon Merch</a>
        
      </div>
    </li>

    <li class="nav-item dropdown">
      <a
        class="logo-font font-weight-bold nav-link text-black mr-5"
        href="#"
        id="other-link"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
      >
        Other TCG
      </a>
      <div class="dropdown-menu border-0" aria-labelledby="other-link">
        <a href="" class="dropdown-item">Magic The Gathering</a>
        <a href="" class="dropdown-item">Yu-Gi-Oh</a>
        <a href="" class="dropdown-item">Disney Lorcana</a>
        <a href="" class="dropdown-item">One Piece Card Game</a>
        <a href="" class="dropdown-item">All Other TCG</a>
      </div>
    </li>

    <li class="nav-item dropdown">
        <a
          class="logo-font font-weight-bold nav-link text-black mr-5"
          href="#"
          id="accessories-link"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          Accessories
        </a>
        <div class="dropdown-menu border-0" aria-labelledby="accessories-link">
          <a href="" class="dropdown-item">Deck Protectors</a>
          <a href="" class="dropdown-item">Deck Boxes</a>
          <a href="" class="dropdown-item">Play Mats</a>
          <a href="" class="dropdown-item">Card Storage</a>
          <a href="" class="dropdown-item">All Accessories</a>
        </div>
      </li>

    <li class="nav-item dropdown">
      <a
        class="logo-font font-weight-bold nav-link text-black"
        href="#"
        id="specials-link"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
      >
        Special Offers
      </a>
      <div class="dropdown-menu border-0" aria-labelledby="specials-link">
        <a href="" class="dropdown-item">New Arrivals</a>
        <a href="" class="dropdown-item">Deals</a>
        <a href="" class="dropdown-item">Clearance</a>
        <a href="" class="dropdown-item">All Specials</a>
      </div>
    </li>
  </ul>
</div>
